/* @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
* {
  font-family: "Jeju Gothic", sans-serif;
} */
@font-face {
  font-family: "BRBA_B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff")
  format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "BRBA_B";
}
body,
html {
  width: 100%;
  height: 100%;
}
.navbar-brand {
  padding: 5px 5px !important;
  margin-right: 0.3rem !important;
}
.nav {
  background: #da0808;
  width: 100%;
  height: 65px;
  position: absolute;
}
.menu {
  background: white;
  width: 50px;
  height: 45px;
  /* border: 0.5px solid white; */
  border-radius: 2px;
  margin: 10px 0 10px 11px;
  transition: width 0.1s ease-in;
  webkit-transition: width 0.1s ease-in;
}
.menu::after {
  width: 0;
  height: 0;
  border-top: 23.5px solid transparent;
  border-bottom: 23.5px solid transparent;
  border-right: 50px solid none;
  border-left: 13px solid white;
  content: "";
  position: absolute;
  left: 60px;
  top: 9px;
}
.opened {
  width: 60%;
}
#menu.opend::after {
  width: 0;
  height: 0;
  border: 0;
}
.menu img {
  display: block;
  float: left;
  margin-top: 3px;
  margin-left: 5px;
}

#header-title span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.8em;
  transform: translate(-50%, -50%);
}
.naver-map {
  width: 100%;
  height: 40%;
  top: 65px;
  position: absolute;
}
.user-row {
  text-align: center;
}
.user-container {
  margin-top: 5%;
}
.btn-danger{
  color: #fff;
  background-color: #da0808;
  border-color: #da0808;

}
.txt {
  margin-top: 3%;
  margin-bottom: 0;
}
.alias {
  margin: 0;
  opacity: 0.5;
}
.back {
  margin-top: 10%;
}
.main-body-content {
  top: 11%;
  position: relative;
  max-height: 50%;
  overflow-y: scroll;
}
.quest-border {
  margin: 6% 0 0 0px;
  text-align: left;
}
.quest-ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 0;
  text-align: center;
  overflow-x: scroll;
  white-space: nowrap;
}
.quest-ul li {
  padding: 0 0 0 10px;
  border: 0;
  display: inline-block;
}
.progress-card {
  float:left;
  height:182px;
}
.quest-card {
  float: left;
  -moz-box-shadow: 4px 1px 10px #8a8a8a;
  -webkit-box-shadow: 4px 1px 10px #8a8a8a;
  box-shadow: 4px 1px 10px #8a8a8a;
}
.quest-main-title {
  position: relative;
  top: 11%;
  text-align: center;
}
.quest-main-title span {
  font-size: 1.5em;
}
.quest-list {
  margin: 17% 0 0 0;
}
.quest-list-main {
  margin: 5% 0 0 0 !important;
}
.quest-circle {
  display: inline-block;
  background-color: white;
  width: 85px;
  height: 85px;
  border: 1px solid #da0808;
  border-radius: 75px;
  text-align: center;
  margin: 0 10px;
  font-size: 15px;
  vertical-align: middle;
  line-height: 85px;
}
.quest-circle-container {
  display: inline-block;
  margin-top: 2%;
}
.quest-title {
  font-size: 1.3em;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 0.7px solid rgba(218, 8, 8, 0.192);
}
.quest-head {
  text-align: left;
}
.quest-body {
  width: 150px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.192);
}
.quest-body-title {
  margin: 5px auto;
}
.quest-item-a {
  color: #28a745;
  text-decoration: none;
}
.quest-circle-innertext {
  font-size: 20px;
  color: #da0808;
}
.quest-circle-title {
  margin-top: -25px;
  white-space: nowrap;
}
.name {
  font-size: 1.3em;
}
