
.contain{
    height: 44%;
    margin-top: 11%;
}
.button{
    width: 25%;
    margin-left: 4%;
    margin-top: 13%;
}

.questname{
	font-size:1em;

}
p {
	font-size:1.5em;
}


img {
    margin-left: -6%;
}

.btn{
	width: 31%;
    margin-left: 5%;
    margin-top: 13%;
}

p{
 text-align:center
}

.quest{
  position:relative;
  clear:both;
  top: 11%;
  text-align: center;
}
.quest span {
  border-bottom: 2px solid #ff5e5e66;
  font-size: 1.5em;
}
/*추가부분 - mainPage의 css*/

/*orumQuest.css*/
.wrap{
    top: 10%;
    position: relative;

}
.container2{
  display:none;
  overflow-y: scroll;
  height: 87%;
  margin-top: 2%;
}
.container3{
  display:none;
  height: 77%;
  overflow-y: scroll;
  height: 87%;
  margin-top: 0%;
  margin-left: -6%;
  width: 100%;
  /* margin-right: 21%; */
}
.container4{
  display:none;
  height:33%;
  overflow-y: scroll;
  width: 77%;
  margin-top: 17%;
  margin-left: 11%;
}


.auth-wrap{
    height: 77%;
    width: 170%;
    margin-bottom: -15%;
}

.abcd{
    width: 8em;
    display: inline-block;
    height: 6em;
  }

.naming{
    width: 101%;
    height: 145%;
}

.chkbtn{
   margin-left: 13%;
   margin-top: 62%;
  width: 71%;

}
.auth{
  display: inline-block;

}

.questlist{
  text-align: center;
  display:flex;
  display:inline-block;
  margin: 2%;
}
.check{
  display: none;
  margin-left:27%;
}

#search1{
  margin-left: 46%;
  display:none;
}

#search2{
  margin-left: 46%;
  display:none;
}
#search{

  margin-left: 46%;
  display:none;
}

/*progress bar*/
.progress {
  height: 12%;
      overflow: hidden;
      border-radius: 0.25rem;
      margin-bottom: 4px;
      margin-left: 10%;
      margin-right: 11.5%;
      padding-right: 4%;
      width: 100%;
      margin-top: 1%;
}
.progress-bar{
  background-color:yellowgreen;
}
.btngress{
  padding: 1%;
  margin: 2%;
  margin-bottom: 5%;
}