
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: green;
    left: 20px;
}
/*!!!!!!!!!!!!!11*/
.marker{    
	margin-top: 14%;
    margin-left: 40%;
}
}

.contain{
    height: 44%;
    margin-top: 11%;
}
.button{
    width: 25%;
    margin-left: 4%;
    margin-top: 13%;
}

.qbtn{
	
	width :131%;
}

.btnchk{
    display: flex;
    width: 100%;
    margin-top: 7%;
}



.questname{
	font-size:1em;

}
p {
	font-size:1.5em;
}


img {
    margin-left: -6%;
}

.btn{
	width: 31%;
    margin-left: 5%;
    margin-top: 13%;
}

p{
 text-align:center
}

.quest{
  position:relative;
  clear:both;
  top: 11%;
  text-align: center;
}
.quest span {
  border-bottom: 2px solid #ff5e5e66;
  font-size: 1.5em;
}
/*추가부분 - mainPage의 css*/

/*orumQuest.css*/
.wrap{
    top: 10%;
    position: relative;

}
.container2{
  display:none;
  overflow-y: scroll;
  height: 87%;
  margin-top: 2%;
}
.container3{
  display:none;
  height: 77%;
  overflow-y: scroll;
  height: 87%;
  margin-top: 0%;
  margin-left: -6%;
  width: 100%;
  /* margin-right: 21%; */
}
.container4{
  display:none;
  height:33%;
  overflow-y: scroll;
  width: 77%;
  margin-top: 17%;
  margin-left: 11%;
}


.auth-wrap{
    height: 77%;
    width: 170%;
    margin-bottom: -15%;
}

.abcd{
    width: 8em;
    display: inline-block;
    height: 6em;
  }

.naming{
    width: 101%;
    height: 145%;
}

.chkbtn{
   margin-left: 13%;
   margin-top: 62%;
  width: 71%;

}
.auth{
  display: inline-block;

}

.questlist{
  text-align: center;
  display:flex;
  display:inline-block;
  margin: 2%;
}
.check{
  display: none;
  margin-left:27%;
}

#search1{
  margin-left: 46%;
  display:none;
}

#search2{
  margin-left: 46%;
  display:none;
}
#search{

  margin-left: 46%;
  display:none;
}

/*progress bar*/
.progress {
  height: 12%;
      overflow: hidden;
      border-radius: 0.25rem;
      margin-bottom: 4px;
      margin-left: 10%;
      margin-right: 11.5%;
      padding-right: 4%;
      width: 100%;
      margin-top: 1%;
}
.progress-bar{
  background-color:yellowgreen;
}
.btngress{
  padding: 1%;
  margin: 2%;
  margin-bottom: 5%;
}